<a href="https://colab.research.google.com/github/smk612/redirects/blob/master/Down_the_Rabbit_Hole.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Down the Rabbit Hole: Pandas Iterrables**

* [LinkedIn Article](https://www.linkedin.com/pulse/down-rabbit-hole-pandas-iterrables-soumik-de)

* [Dario's Post](https://towardsdatascience.com/heres-how-to-make-pandas-iteration-150x-faster-20ccb5477128)

* [Deep Dive](https://medium.com/swlh/why-pandas-itertuples-is-faster-than-iterrows-and-how-to-make-it-even-faster-bc50c0edd30d)

In [0]:
import pandas as pd

In [0]:
# Increase 0s to make difference more evident
df = pd.DataFrame(data={'Values':range(1,1000000)})

In [35]:
# iterrows()
%%time
sum=0

for _,row in df.iterrows():
    sum+=row['Values']

print(sum)

499999500000
CPU times: user 1min 21s, sys: 0 ns, total: 1min 21s
Wall time: 1min 21s

In [36]:
# itertuples()
%%time
sum=0

for row in df.itertuples():
    sum+=row.Values

print(sum)

499999500000
CPU times: user 679 ms, sys: 0 ns, total: 679 ms
Wall time: 679 ms

In [37]:
# itertuples() with parameter
%%time
sum=0

for (_,row) in df.itertuples(name=None):
    sum+=row

print(sum)

499999500000
CPU times: user 323 ms, sys: 0 ns, total: 323 ms
Wall time: 323 ms

In [38]:
# custom code
%%time
sum=0

my_rows=zip(df['Values'])

for i, (row,) in enumerate(my_rows):
    sum+=row

print(sum)

499999500000
CPU times: user 272 ms, sys: 0 ns, total: 272 ms
Wall time: 272 ms